{% extends "index.html" %}

{% block index_list %}

{% for kind, msg in (('Info', 'Informational MEPs'), 
                     ('Final', 'Implemented MEPs'),
                     ('Open', 'MEPs under consideration')
                    ) %}
<h4>{{msg}}</h4>
<table class="table table-condensed">
<tbody>
{% for item in this.content %}
    {% if item|mepkind == kind %}
    <tr><td width="60px">{{item.mep}}</td><td><a href="{{item.url}}">{{item.title}}</a></td></tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
{% endfor %}

{% endblock %} 
