{% extends "article.html" %}

{% block title %}
<h1>MEP {{this.mep}}: {{this.title}}&nbsp;&nbsp;
</h1>
{% endblock %}

{% block breadcrumb %}
<li><a href="{{this.url}}">MEP {{this.mep}}</a></li>
{% endblock %}

{% block preamble %}
<table class="table table-striped table-condensed preamble">
<tbody>
    <tr><td><strong>MEP</strong></td><td>{{this.mep}}</td></tr>
    <tr><td><strong>Author</strong></td><td>{{this.author}}</td></tr>
    <tr><td><strong>Status</strong></td><td>{{this.status}}</td></tr>
    <tr><td><strong>Created</strong></td><td>{{this.date|dateformat}}</td></tr>
    {% if this.version|d %}
    <tr><td><strong>MyHDL-version</strong></td><td>{{this.version}}</td></tr>
    {% endif %}
</tbody>
</table>
{% endblock %}

{% block disqus %}
<div class="col-md-8">
<hr class="half-rule">
{% include 'disqus.html' %}
</div>
{% endblock disqus %}
