{% extends "_base.html" %}

{% block body %}

<div class="container">

    <ol class="breadcrumb">
       <li><a href="/">Home</a></li>
       {% for bc in this.breadcrumbs[:-1] %}
       <li><a href="{{bc.url}}">{{bc.title}}</a></li>
       {% endfor %}
       {% block breadcrumb %}
       <li class="active">{{this.breadcrumbs[-1].title}}</li>
       {% endblock %}
    </ol>

    <div class="page-header">
        {% block title %}
        <h1>{{this.title}}</h1>
        {% endblock %}
    </div>

    <div class="row">

        {% block content_div %}
        <div class="col-md-7 content" role="main">
        {% endblock %}
            {% block preamble %}
            {% endblock %}
            {% if this.description|d %}
            <p class="lead">{{this.description}}</p>
            {% endif %}
            {{this.body}}
        </div>

        {% if this.toc %}
        {% block sidebar %}
        <div class="col-md-3" role="navigation">
          <nav class="hidden-print hidden-xs hidden-sm">
            <div class="sidebar" data-spy="affix"
                 data-offset-top="80"
                 data-offset-bottom="60">
                <div class="well">
                    <a href="#"><strong style="font-size:90%">{{this.title}}</strong></a>
                    {{this.toc}}
                </div>
            </div>
          </nav>
        </div>
        {% endblock %}
        {% endif %}

        {% block disqus %}
        {% endblock disqus %}

    </div>

    {% include 'footer.html' %}
</div>

{% endblock %}
